<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/update">
        <label for="">id</label>
        <input type="text" value="<%= prod.id %>" disabled>
        <input type="hidden" name="id" value="<%= prod.id %>" >
        <label for="name">이름</label>
        <input type="text" name="name" value="<%= prod.name %>">
        <label for="number">전화번호</label>
        <input type="text" name="number" value="<%= prod.number %>">
        <label for="series">시리즈</label>
        <input type="text" name="series" value="<%= prod.series %>">
        <button type="submit">수정</button>
    </form>
</body>
</html>